@import "../variables";
@import "../nav.scss";
@import "../header.scss";
@import "../scroll.scss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //border: 1px solid red;
}body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color: black;
}
.content{
  margin-top: 100px;
  height: 100vh;
    width: 100vw;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}
main {
  background-image: url("../landing/background.png");
  background-position: center 0%;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  place-items: center;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 10rem;
  z-index: 2;
  transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
}
.cards {
  max-width: 1200px;
  margin-top: 100px;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
a{
  text-decoration: none;
}
.card {
  background-color: dodgerblue;
  color: white;
  padding: 1rem;
  width: 25vw;
  height: 25vh;
  font-size: $subtitle;
  text-align: center;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  p{
    font-size: $mobile;
    font-weight: 400;
  }
}
.card:hover{
  background-color: rgb(93,122,155);
  cursor: pointer;
}
@media (max-width:800px) {
  .content{
    padding: 2rem;
    padding-top: 4rem;
  }
  .cards { grid-template-columns: repeat(1, 1fr); }
  .card{
    width: 50vw;
    height: 50vh
    }

  @media (max-width:480px) {
    .content{
      padding: .5rem;
      padding-top: 4rem;
    }
  }
}