@import "variables";
.title{
  position: sticky;
  z-index: 3;
  width: 100vw;
  text-align: center;
  justify-self: center;
  align-self: center;
  top: -6rem;
  color: $primary;
  font-size: $title;
  background-color: $background;
  font-weight: 700;
  transition: transform 500ms;
  margin-bottom: 5rem;
}
.magic-text{
  animation: background-pan 3s ease-in-out infinite;
  background: linear-gradient(
    to right,
    $purple,
    $violet,
    $pink,
    $purple
  );
  background-size: 200%;
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    white-space:nowrap;
}
@keyframes background-pan{
  from{
    background-position: 0% center;
  }
  to{
    background-position: -200%,center;
  }
}
@media (max-width: 800px) {
  .title{
    font-size: $title-mobile;
  }
}
@media (max-width: 480px) {
  .title{
    font-size: $title-tiny;
  }
}