$primary: rgb(230, 240, 255);
$background: rgb(45, 45, 50);
$secondary: rgb(135, 150, 175);
$decoration: rgb(100, 255, 215);
$purple: rgb(123, 31, 162);
$violet:rgb(103,58,183);
$pink:rgb(244,143,177);
$title: 4rem;
$title-mobile: 2.5rem;
$title-tiny: 1.5rem;
$header: 36px;
$subtitle: 24px;
$body: 22px;
$mobile: 20px;
