$primary: rgb(230, 240, 255);
$background: rgb(45, 45, 50);
$secondary: rgb(135, 150, 175);
$decoration: rgb(100, 255, 215);

$title: 4rem;
$header: 36px;
$subtitle: 24px;
$body: 22px;
$mobile: 20px;
