@import "../variables";
@import "../nav.scss";
@import "../header.scss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //border: 1px solid red;
}body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color: black;
}
.content{
  height: 100vh;
    width: 100vw;
    padding:0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle-container {
  $particleNum: 200;
  $particleColor: hsl(180, 100%, 80%);

  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: radial-gradient(
      hsl(180, 100%, 80%),
      hsl(180, 100%, 80%) 10%,
      hsla(180, 100%, 80%, 0) 56%
    );

    animation: fadein-frames 200ms infinite, scale-frames 2s infinite;

    @keyframes fade-frames {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.7;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes scale-frames {
      0% {
        transform: scale3d(0.4, 0.4, 1);
      }

      50% {
        transform: scale3d(2.2, 2.2, 1);
      }

      100% {
        transform: scale3d(0.4, 0.4, 1);
      }
    }
  }

  $particleBaseSize: 8;

  @for $i from 1 through $particleNum {
    &:nth-child(#{$i}) {
      $circleSize: random($particleBaseSize);
      width: $circleSize + px;
      height: $circleSize + px;

      $startPositionY: random(10) + 100;
      $framesName: "move-frames-" + $i;
      $moveDuration: 28000 + random(9000) + ms;

      animation-name: #{$framesName};
      animation-duration: $moveDuration;
      animation-delay: random(37000) + ms;

      @keyframes #{$framesName} {
        from {
          transform: translate3d(random(100) + vw, $startPositionY + vh, 0);
        }

        to {
          transform: translate3d(random(100) + vw, -$startPositionY - random(30) + vh, 0);
        }
      }

      .circle {
        animation-delay: random(4000) + ms;
      }
    }
  }
}
@keyframes scale {
  from,to{
    transform:scale(0);
  }
  50%{
    transform:scale(1);
  }
}
@keyframes rotate{
  from {
    transform:rotate(0deg);  
  }
  to{
    transform:rotate(180deg);
  }
  }
main {
  background-image: url("background.png");
  background-position: center 0;
  background-size:cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  place-items: center;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  z-index: 2;
  transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
  .magic{
    position: relative;
    display: inline-block;
    .magic-star{
      --size:clamp(20px,1.5vw,50px);
      display: block;
      position: absolute;
      width:2rem;
      height:2rem;
      :nth-child(1){
        margin-left: 1330%;
        margin-top: 5%;
      }
      animation: scale 3500ms ease linear;
      svg{
        display: block;
        width: 100%;
        height: 100%;
        opacity: .7;
        animation:rotate 1000ms linear infinite;
        path{
          fill:$purple;
        }
      }
    }
    
  }
  .text{
    width: 85vw;
    margin-top: 20vh;
    display: flex;
    background: rgba(255, 255, 255, .45);
    align-content: center;
    justify-content: center;
  }
  p{
    color: green;
    font-size: $title;
    width: 50%;
    font-weight: 700;
    text-align: center;
        .magic-text{
      animation: background-pan 3s linear infinite;
      background: linear-gradient(
        to right,
        $purple,
        $violet,
        $pink,
        $purple
      );
      background-size: 200%;
      -webkit-background-clip:text;
      background-clip:text;
      -webkit-text-fill-color:transparent;
      white-space:nowrap;
    }
  }
}
.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}
.line {
  position: absolute;
  width: 3px;
  height: 100%;
  visibility: visible;
  top: 0;
  left: 50%;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 6s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  &:nth-child(1) {
    margin-left: -25%;
    &::after {
      animation-delay: 1s;
    }
  }
  &:nth-child(3) {
    margin-left: 25%;
    &::after {
      animation-delay: 1.5s;
    }
  }
}
@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
};

@media (max-width: 800px) {
  .title{
    font-size: $title-mobile;
  }
  .text{
    p{
      font-size: $title-mobile;
    }
    .magic{
      .magic-star{
        :nth-child(1){
          margin-left: 812%;
          margin-top: -10%;
        }
      }
    }
    
  }
  .skills{
    width: 100vw;
  }
  codersrank-skills-chart {
    --svg-width: 100vw;
    --svg-height: 50vh;
  }
}

@media (max-width: 480px) {
  .title{
    font-size: $title-tiny;
  }
  .text{
    p{
      font-size: 20px;
    }
    .magic{
      .magic-star{
        :nth-child(1){
          margin-left: 380%;
          margin-top: -25%;
        }
      }
    }

  }
    
}